---
import Layout from "../layouts/Layout.astro";
import FinanciaForm from "../components/FinanciaForm.astro";
---

<Layout title="Financia hoy!">
  <section class="mt-[95px]">
    <FinanciaForm />
  </section>
</Layout>
