---
import Layout from "../layouts/Layout.astro";
import FinanciaFor from "../components/FinanciaFor.jsx";
import Wpp from "../components/Wpp.astro";
---

<Layout title="¡Financia hoy!">
  <Wpp />
  <section class="mt-[95px] bg-gradient-to-r from-slate-800 to-gray-900">
    <FinanciaFor client:load />
  </section>
</Layout>
