---
import FinanciaForm from "../components/FinanciaForm.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solicita tu credito</title>
  </head>
  <body>
    <NavBar />
    <section>
      <FinanciaForm />
    </section>
    <!-- <Footer /> -->
  </body>
</html>
