---
import Layout from "../layouts/Layout.astro";
import FinanciaFor from "../components/FinanciaFor.jsx";
import WhatsappBtn from "../components/WasapBtn/WhatsappBtn";
const todo = {
  nombreMoto: "Las motos disponibles",
};
---

<Layout title="¡Financia hoy!">
  <WhatsappBtn moto={todo} />
  <section class="mt-[95px] bg-gradient-to-r from-slate-800 to-gray-900">
    <FinanciaFor client:load />
  </section>
</Layout>
