---
import LayoutNosotros from "../layouts/LayoutNosotros.astro";
import Side from "../components/Side.astro";
---

<LayoutNosotros title="Nosotros">
  <section class="flex justify-center items-center mt-[200px] mb-32 h-screen">
    <Side />
  </section>
</LayoutNosotros>
