---
import LayoutNosotros from "../layouts/LayoutNosotros.astro";
import Side from "../components/Side.astro";
import Wpp from "../components/Wpp.astro";
---

<LayoutNosotros title="Nosotros">
  <Wpp />
  <section
    class="flex justify-center items-centermt-250 mt-[180px] lg:mt-[140px] md:mt-[100px] 2xl:mt-[250px] mb-32 2xl:mb-[0px] h-screen"
  >
    <Side />
  </section>
</LayoutNosotros>
