<div class="p-6 py-12">
  <div class="container mx-auto">
    <div class="flex flex-col lg:flex-row items-center justify-between">
      <!-- Imagen para dispositivos móviles -->
      <img
        src="/laMotoMovil.png"
        alt=""
        class="object-cover w-full h-auto lg:hidden"
      />

      <!-- Imagen para dispositivos más grandes (no móviles) -->
      <img
        src="/laMoto.png"
        alt=""
        class="object-cover w-full h-auto hidden lg:block lg:h-auto max-w-full"
      />
    </div>
  </div>
</div>
