<header>
  <nav
    class="bg-gradient-to-r from-blue-950 to-sky-950 fixed w-full z-20 top-0 left-0"
  >
    <ul
      class="navigation max-w-[90vw] flex flex-wrap justify-between items-center relative mx-auto py-8"
    >
      <a class="logo" href="/" style="display: flex; align-items: center;">
        <img src="/fnlogo.png" alt="Logo" class="h-8 mr-2" />
        <h3 class="font-bold text-[#cef1f7] text-2xl">Financials Motors</h3>
      </a>
      <input type="checkbox" id="check" />

      <span
        class="menu text-[#9cd6e0] flex [&>li]:pl-8 [&>li>a]:text-center [&>li>a]:relative [&>li>a]:transition [&>li>a]:duration-200 [&>li>a]:ease-in-out [&>li>a]:font-medium [&>li>a]:text-lg"
      >
        <li><a class="hover:underline" href="/triax-250-r3">Triax 250</a></li>
        <p class="hidden lg:flex ml-4">|</p>
        <li><a class="hover:underline" href="/skua-250-r3">Skua 250</a></li>
        <p class="hidden lg:flex ml-4">|</p>

        <li>
          <a class="hover:underline" href="/rouser-ns-200">Rouser200</a>
        </li>
        <p class="hidden lg:flex ml-4">|</p>

        <li><a class="hover:underline" href="/financia">Financia</a></li>
        <p class="hidden lg:flex ml-4">|</p>

        <li><a class="hover:underline" href="/nosotros">Nosotros</a></li>

        <li><a class="num" href="#">0800-268-0423</a></li>

        <label for="check" class="close-menu">X</label>
      </span>

      <label for="check" class="open-menu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill:#FFFFFF;"
        >
          <path
            d="M 0 2 L 0 4 L 24 4 L 24 2 Z M 0 11 L 0 13 L 24 13 L 24 11 Z M 0 20 L 0 22 L 24 22 L 24 20 Z"
          ></path>
        </svg>
      </label>
    </ul>
  </nav>
</header>

<style>
  .close-menu,
  .open-menu {
    position: absolute;
    cursor: pointer;
    display: none;
  }

  .open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  .close-menu {
    top: 20px;
    right: 20px;
  }

  #check {
    display: none;
  }

  @media (max-width: 800px) {
    .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 73%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;
      background-color: #101138;
      color: #fff;
      transition: all 0.5s ease-in-out;
      text-transform: uppercase;
      font-size: 24px;
    }

    .menu li {
      margin-top: 40px;
    }

    .menu li a {
      padding: 10px;
    }

    .close-menu,
    .open-menu {
      display: block;
    }

    #check:checked ~ .menu {
      right: 0;
    }
  }

  .num {
    padding: 0.8em 1.6em; /* Ajusta el tamaño del padding según sea necesario */
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 3px; /* Ajusta el espaciado entre letras según sea necesario */
    text-transform: uppercase;
    cursor: pointer;
    color: #08bada;
    transition: all 1000ms;
    font-size: 13px; /* Ajusta el tamaño de la fuente según sea necesario */
    position: relative;
    overflow: hidden;
    outline: 2px solid #18c7e6;
  }

  .navigation li a {
    font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
  }

  .num:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #ade4ee;
    box-shadow: 4px 5px 17px -4px #268391;
  }
</style>

<script>
  const toggleMotos = () => {
    const motosDropdown = document.getElementById("motosDropdown");
    motosDropdown.classList.toggle("hidden");
  };
</script>
