---
interface Props {
  title: string;
}

import favicono from "../../public/favicon.svg";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="https://media.discordapp.net/attachments/1136484648344621087/1138541153667530812/descarga_1.png?width=499&height=676"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
